.navbar{
  width:100%;
  font-size:20px; 
  background-color: rgba(251, 71, 71, 0.527);
  color:white; 
  font-weight:bold;
  padding:20px;
  box-sizing: border-box;


}

.navbar span{
  margin-left:40px;
  cursor:pointer;
}
