.cards {
  width: 23%;
  height: 400px;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  margin:5px;
  transition: 0.5s;
  cursor: pointer;
  font-family: "Calibri Light";
  font-weight: normal;
}
.hi{
  width: 90%;
  margin-left: 5%;
  height: 300px;
  position: sticky;
  top: 10px;
  color: white;
}
.hi img{
  cursor: pointer;
  margin-bottom: 40px;
}
.btn{
  background-color: transparent;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  border: 1.5px solid white;
  cursor: pointer;
  color: white;
  font-size: 15px;
}
.first{
  
  border-radius: 10px;
  background-color: #eb1537;
  width: 20%;
  height: 800px;
  display: flex;
  border: 1px solid black;
}
.second{
  margin-left: 10px;
  width: 79%;
}
.foto {
  width: 90%;
  height: 65%;
  margin-left: 5%;
  margin-top: 3%;
}
.btn:hover{
  background-color: white;
  color: black;
}
.cards p{
  font-size: 20px;
}
.bigSheet {
  display: flex;

  width: 90%;
  margin-left: 5%;
}
.cards:hover {
  box-shadow: 0px 0px 3px black;
  border-radius: 10px;
}
